{%- render 'icon-cart' -%}
<span class="cart-count-badge caption caption--small{% if cart.item_count == 0 %} hidden{% endif %}">
  {%- if cart.item_count > 99 -%}+{%- else -%}{{- cart.item_count -}}{%- endif -%}
</span>
<span class="visually-hidden">{{- 'accessibility.cart' | t -}}</span>
