{%- comment -%}
  input_class - {String} Search input class
  input_id - {String} Search input id
{%- endcomment -%}

<predictive-search class="search">
  <form action="{{- routes.search_url -}}">
    <div class="search__head">
      <div class="search__controls">
        {%- if settings.predictive_search_enabled -%}
          {%- capture attr -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-list"
            aria-controls="predictive-search-results-list"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endcapture -%}
        {%- endif -%}

        {%-
          liquid
          assign label = 'search.label' | t
          assign placeholder = 'search.placeholder' | t
          assign id = 'search-' | append: input_id
          render 'text-input', type: 'search', label: label, placeholder: placeholder, id: id, name: 'q', hide_label: true, class: 'field--search', attr: attr, input_class: input_class
          assign label = nil
          assign placeholder = nil
          assign id = nil
          assign attr = nil
        -%}

        <button
          type="submit"
          class="search__button search__button--submit button-reset js-btn-submit"
          aria-label="{{- 'search.submit' | t -}}"
        >
          {%- render 'icon-search' -%}
        </button>

        <button
          type="button"
          class="search__button search__button--clear button-reset js-btn-clear-text"
          aria-label="{{- 'search.clear_text' | t -}}"
          disabled
        >
          {%- render 'icon-close' -%}
        </button>
      </div><!-- /.search__controls -->
    </div><!-- /.search__head -->

    {%- if settings.predictive_search_enabled -%}
      <div class="search__message hidden js-message-error">
        <p data-text>
          {{- 'search.error' | t -}}
        </p>
      </div><!-- /.search__message -->

      <div class="search__body hidden js-results-container"></div><!-- /.search__body -->
    {%- endif -%}
  </form>
</predictive-search><!-- /.search -->
