.testimonial {
  color: var(--color-heading-text);
}

.testimonial.no-image .testimonial__body {
  padding-right: 1.6rem;
}

.testimonial__head {
  display: block;
  margin-bottom: 1.6rem;
}

.testimonial__head:not([href]) {
  cursor: default;
}

.testimonial__body {
  padding-right: .8rem;
  margin-right:37px!important;
}

.testimonial__quote {
  border: none;
  padding: 0;
  font-style: normal;
  font-family: var(--font-heading-family);
  font-size: 1.4rem;
  line-height: var(--line-height-medium);
  margin: 0 0 1.6rem;
}

.testimonial__quote:last-child {
  margin-bottom: 0;
}

.testimonial__quote p {
  margin: 0 0 1rem;
}

.testimonial__quote > :last-child {
  margin-bottom: 0;
}

.testimonial__author {
  display: block;
  margin: 0;
}

@media (hover: hover) {
  .testimonial__head[href] {
    transition: opacity var(--duration-default);
  }

  .testimonial__head[href]:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 575px) {
  .testimonial__quote {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 750px) {
  .testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
  }

  .testimonial.no-image {
    display: block;
    text-align: center;
  }

  .testimonial.no-image .testimonial__body {
    padding: 0;
  }

  .testimonial.no-image .testimonial__content {
    margin: 0 auto;
  }

  .testimonial.image-right .testimonial__head {
    order: 1;
  }

  .testimonial.image-right .testimonial__link {
    justify-content: flex-end;
  }

  .testimonial__head {
    margin-bottom: 0;
  }

  .testimonial__body {
    padding: 0 0 11.3rem;
  }

  .testimonial__content {
    max-width: 65rem;
  }

  .testimonial__quote {
    font-size: 2.4rem;
    line-height: var(--line-height-small);
  }

  .testimonial__media {
    margin-bottom: 2.4rem;
  }

  .testimonial__media:last-child {
    margin-bottom: 0;
  }

  .testimonial__link {
    display: flex;
  }
}

@media screen and (min-width: 990px) {
  .testimonial {
    column-gap: 4.8rem;
  }

  .testimonial__content {
    max-width: 80rem;
  }

  .testimonial__quote {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
}

@media screen and (min-width: 1100px) {
  .testimonial {
    column-gap: 18.1%;
  }
}
