.main-404 {
  color: var(--color-body-text);
  background-color: var(--color-body-background);
  padding: 6.4rem 0;
}

.main-404__title {
  margin: 0;
}

.main-404__subtext {
  margin: 1.6rem 0 0;
}

.main-404 a {
  margin: 2.4rem 0 0;
}

@media screen and (min-width: 990px) {
  .main-404 {
    padding: 9.6rem 0;
  }

  .main-404__subtext {
    margin: 2.4rem 0 0;
  }

  .main-404 a {
    margin: 3.2rem 0 0;
  }
}
