/* Marquee styles */
.marquee {
  --gap: 6rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;

  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  color: var(--color-heading-text);
  font-size: var(--marquee-element-size);
  line-height: 1.5;
  letter-spacing: .2rem;

  margin: 1.6rem 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.enable-animation .marquee__content {
  animation: marquee linear infinite;
  animation-duration: var(--marquee-duration);
}
/* Reverse animation */
.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: marquee-absolute;
}

@keyframes marquee-absolute {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

/* Other page demo styles */
.marquee__content > * {
  flex: 0 0 auto;
  padding: .2rem 1.2rem;

  display: flex;
  align-items: center;
}

.marquee__link {
  display: flex;
  align-items: center;
}

.marquee__item {
  text-transform: uppercase;
}
.marquee__item svg, .marquee__item img {
  /* width: var(--marquee-element-size); */
  height: var(--marquee-element-size);
  /* fill: currentColor; */
  margin-right: var(--marquee-element-svg-margin-right);
}
