.header {
  --header-vertical-padding: 1.6rem;
  position: relative;
  color: var(--color-link-text);
  font-weight: var(--font-weight-normal);
  z-index: var(--z-header);
  background-color: var(--color-body-background);
  transition: background-color var(--duration-default), color var(--duration-default);
}


html.js .header.is-transparent {
  margin-bottom: calc(0px - var(--header-height, 5.6rem));
}
@media screen and (min-width: 750px) {
  html.js .header.is-transparent {
    margin-bottom: calc(0px - var(--header-height, 7.4rem));
  }
}
@media screen and (min-width: 990px) {
  html.js .header.is-transparent:not(.is-scrolled) {
    background-color: transparent;
    --color-link-text: var(--transparent-header-menu-text-color);
  }

  html.js .header.is-transparent:not(.is-scrolled) .header__inner:after {
    background-color: currentColor;
    opacity: var(--header-inner-after-opacity);
  }

  html.js .header.is-transparent:not(.is-scrolled) .header__logo-image-transparent {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  html.js .header.is-transparent:not(.is-scrolled) .header__logo-image {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (max-width: 749px) {
  html.js .header.is-transparent.menu-open .header__inner {
    color: var(--color-link-text) !important;
  }
}

@media screen and (max-width: 989px) {
  html.js .header.is-transparent:not(.menu-open):not(.is-scrolled) {
    background-color: transparent;
    color: var(--color-link-text-inverse);
  }

  html.js .header.is-transparent:not(.menu-open):not(.is-scrolled) .header__inner:after {
    background-color: currentColor;
    opacity: 0.2;
  }

  html.js .header.is-transparent:not(.menu-open):not(.is-scrolled) .header__logo-image-transparent {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  html.js .header.is-transparent:not(.menu-open):not(.is-scrolled) .header__logo-image {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.header--nav-drawer .header__nav {
  display: none;
}

.header__inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1.6rem 2.7rem;
  padding: var(--header-vertical-padding) 0;
  position: relative;
}

.header__inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  opacity: 1;
  background-color: rgba(var(--color-heading-text-rgb), 0.1);
  pointer-events: none;
  transition: background-color var(--duration-default), opacity var(--duration-default);
}
.menu-open .header__inner:after {
  opacity: 1;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-size: 0;
  width: 8.6rem;
  display: flex;
  justify-content: center;
}

.header__logo.header__logo-text {
  width: auto;
  justify-content: flex-start;
}

.header__logo span {
  color: inherit;
}

.header__logo img,
.header__logo svg {
  width: 100%;
  /* height: auto; */
}
.header__logo svg {
  fill: currentColor;
}


.header__logo-image {
  transition: opacity var(--duration-default);
}

.header__logo-image-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 0;
  transition: opacity var(--duration-default);
}

@media (hover: hover) {
  .header__logo a {
    transition: opacity var(--duration-default);
    width:100;
  }

  .header__logo a:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 750px) {
  .header {
    --header-vertical-padding: 2rem;
  }
}


@media screen and (max-width: 989px) {
  .header--logo-centered-nav-centered-below .header__utils {
    order: 3;
  }
}

@media screen and (min-width: 990px) {
  .header {
    --header-vertical-padding: 2.5rem;
  }

  .header--nav-centered-below .header__inner {
    grid-template-columns: auto 1fr;
  }

  .header--nav-centered-below .header__nav {
    grid-column: span 2;
    justify-content: center;
  }

  .header--logo-centered-nav-centered-below .header__inner {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .header--logo-centered-nav-centered-below .header__logo {
    margin-left: auto;
    margin-right: auto;
  }
  .header--logo-centered-nav-centered-below .header__nav {
    grid-column: span 2;
    justify-content: center;
  }
  .header--logo-centered-nav-centered-below .header__utils {
    position: absolute;
    top: var(--header-vertical-padding);
    right: 0;
    width: var(--page-width);
  }

  .header--nav-logo-left .header__inner {
    grid-template-columns: auto 1fr 1fr;
  }

  .header__inner {
    column-gap: 2.4rem;
  }

  .header__logo {
    width: 11.4rem;
  }
}

@media screen and (min-width: 1100px) {
  .header__inner {
    column-gap: 3.2rem;
  }
}

.header__card {
  padding: .4rem 0;
}

.header__card .card__title {
  color: var(--color-body-text-inverse);
  line-height: 1.25;
}

.header__card .card-text,
.header__card .card-text .card-text__content {
  height: 100%;
}

.header__card .card-text .card-text__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__card .card-text {
  background: var(--color-body-background);
  padding: 1rem;
}

.header__card .card-text .card-text__title {
  margin-top: 0;
  font-size: calc(var(--font-heading-scale) * 2rem);
}

.header__card .card-text .button.button--text:hover {
  padding-bottom: 0.4rem;
}

@media screen and (min-width: 1400px) {
  .header__card .card-text {
    padding: 1.8rem 2.1rem;
  }
  .header__card .card-text .card-text__title {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}

.header__utils-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: -.3rem -.8rem;
}

.header__utils-item {
  padding-left:16px;padding-right:16px;
}

.header__utils-item:not(.header__utils-item--cart) {
  display: none;
}

.header__utils-item--cart a {
  position: relative;
  z-index: 1;
}

.header__utils-link {
  display: block;
}

.header__utils-link span,
.header__utils-link svg {
  display: block;
  pointer-events: none;
}

@media screen and (min-width: 990px) {
  .header__utils-item:not(.header__utils-item--cart) {
    display: initial;
  }
}

@media screen and (min-width: 1100px) {
  .header__utils-items {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .header__utils-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header__utils-items {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }

  .header__utils-item {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header--nav-centered .header__nav-items,
.header--nav-centered-below .header__nav-items {
  justify-content: center;
}

.header__nav {
  z-index: 2;
  display: flex;
  align-self: stretch;
  margin-bottom: calc(0rem - var(--header-vertical-padding));
}

.header__nav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.header__nav-item {
  display: flex;
  align-items: center;
  padding-bottom: var(--header-vertical-padding);
}

.header__nav-item + .header__nav-item {
  margin-left: 32px;
}

.header__nav-item.default-dropdown {
  position: relative;
}

.header__nav-item.default-dropdown .header__nav-dropdown,
.header__nav-item.default-dropdown .header__nav-sublinks {
  width: max-content;
  max-width: calc(100% + (var(--page-gutter) + 4.8rem) * 2);
  padding: 3.6rem 0;
  z-index: 2;
  box-shadow: .2rem .3rem 1rem rgba(0, 0, 0, 0.2);
}

.header__nav-item.default-dropdown .header__nav-dropdown {
  max-height: none;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
}
.header__nav-items li.header__nav-item.has-dropdown.default-dropdown:first-child .header__nav-dropdown {
  left: 0;
  transform: translateX(0);
}

.header__nav-item.default-dropdown .header__nav-links,
.header__nav-item.default-dropdown .header__nav-dropdown__inner,
.header__nav-item.default-dropdown .header__nav-links {
  display: block;
}

.header__nav-item.default-dropdown .header__nav-dropdown-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

.header__nav-item.default-dropdown .header__nav-links-item {
  position: relative;
}

.header__nav-item.default-dropdown .header__nav-links-item + .header__nav-links-item {
  margin-top: 1rem;
}

.header__nav-item.default-dropdown .header__nav-sublinks {
  position: absolute;
  top: -1rem;
  left: 100%;
  background-color: var(--color-popup-background);
  margin: 0;
}

.header__nav-item.default-dropdown .header__nav-sublinks,
.header__nav-dropdown {
  position: absolute;
  background-color: var(--color-popup-background);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  /* transition: visibility var(--duration-extra-long), opacity var(--duration-extra-long); */
}

.header__nav-item.has-dropdown:not(.default-dropdown) {
  --after-height: 9rem;
}

.header__nav-item.has-dropdown:not(.default-dropdown)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: calc(100% - 2rem);
  height: var(--after-height);
  z-index: 4;
  pointer-events: auto;
}

.header__nav-dropdown {
  top: 100%;
  left: 0;
  width: 100%;
  padding: 3.4rem 3.8rem;
  max-height: calc(100vh - var(--header-top-position));
  overflow-y: visible;
  color: var(--color-link);
}

html.no-js .header__nav-dropdown {
  max-height: calc(100vh - 100%);
}

.header__nav-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
}

.header__nav-grid--1 {
  grid-template-columns: repeat(1, 1fr);
}
.header__nav-grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
.header__nav-grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
.header__nav-grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
.header__nav-grid--5 {
  grid-template-columns: repeat(5, 1fr);
}
.header__nav-grid--6 {
  grid-template-columns: repeat(6, 1fr);
}

.header__nav-grid--5 {
  grid-column: span 2;
  column-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.header__nav-links {
  display: grid;
  column-gap: 2.2rem;
  row-gap: 2.2rem;
  font-family: var(--font-heading-family);
  font-size: var(--font-size-static-medium);
  line-height: 1.15;
}

.header__nav-dropdown-link {
  display: inline-block;
  padding: .4rem 0;
  transition: color var(--duration-default);
}

.header__nav-links-item > .header__nav-dropdown-link {
  font-family: var(--font-heading-family);
  font-size: var(--font-size-static-small);
  line-height: var(--line-height-small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-medium);
  color: var(--color-body-text);
}

.header__nav-sublinks {
  margin-top: 1.6rem;
}

.header__nav-sublinks-item + .header__nav-sublinks-item {
  margin-top: .8rem;
}

html.no-js .header__nav-item.default-dropdown .header__nav-links-item:hover .header__nav-sublinks,
html.no-js .header__nav-item.default-dropdown .header__nav-dropdown-link:focus ~ .header__nav-sublinks,
html.no-js .header__nav-item.default-dropdown .header__nav-dropdown-link:focus-visible ~ .header__nav-sublinks,
html.no-js .header__nav-item.default-dropdown .header__nav-sublinks:focus-within,
html.no-js .header__nav-item:hover .header__nav-dropdown,
html.no-js .header__nav-link:focus ~ .header__nav-dropdown,
html.no-js .header__nav-link:focus-visible ~ .header__nav-dropdown,
html.no-js .header__nav-dropdown:focus-within {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

html.no-js .header__nav-item.default-dropdown .header__nav-links-item:not(:hover) .header__nav-dropdown-link:focus:not(:focus-visible) ~ .header__nav-sublinks,
html.no-js .header__nav-item:not(:hover) .header__nav-link:focus:not(:focus-visible) ~ .header__nav-dropdown {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

html.no-js .header__nav-item.has-dropdown:hover .header__nav-link::before {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}

html.no-js .header__nav-item.default-dropdown .header__nav-links-item.has-dropdown:hover > .header__nav-dropdown-link {
  color: var(--color-body-text);
}

.default-dropdown .header__nav-links-item.has-dropdown::after, .header__nav-item.has-dropdown.default-dropdown::after {
  content: '';
  position: absolute;
  top: calc(100% - 2rem);
  width: var(--dropdown-after-width, 15rem);
  height: 0;
  transition: height 0.1s ease;
}

.default-dropdown .header__nav-links-item.has-dropdown:hover::after,
.header__nav-item.has-dropdown.default-dropdown:hover::after {
  height: var(--dropdown-after-height, 9rem);
}

.default-dropdown .header__nav-links-item.has-dropdown::after {
  left: 12rem;
}

@media (hover: hover) {

  .header__nav-item.default-dropdown .header__nav-links-item:hover > .header__nav-dropdown-link,
  .header__nav-dropdown .header__nav-dropdown-link:hover {
    color: #000;
  }

  .header__nav-links-item > .header__nav-dropdown-link:hover {
    color: inherit;
  }

  .header__nav-item.default-dropdown .header__nav-links-item:hover .header__nav-sublinks,
  .header__nav-item.default-dropdown .header__nav-dropdown-link:focus ~ .header__nav-sublinks,
  .header__nav-item.default-dropdown .header__nav-dropdown-link:focus-visible ~ .header__nav-sublinks,
  .header__nav-item.default-dropdown .header__nav-sublinks:focus-within,
  .header__nav-item:hover .header__nav-dropdown,
  .header__nav-link:focus ~ .header__nav-dropdown,
  .header__nav-link:focus-visible ~ .header__nav-dropdown,
  .header__nav-dropdown:focus-within {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }

  .header__nav-item.has-dropdown:not(.default-dropdown):hover::after {
    pointer-events: auto;
  }

  .header__nav-item.default-dropdown .header__nav-links-item:not(:hover) .header__nav-dropdown-link:focus:not(:focus-visible) ~ .header__nav-sublinks,
  .header__nav-item:not(:hover) .header__nav-link:focus:not(:focus-visible) ~ .header__nav-dropdown {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .header__nav-item.has-dropdown:hover .header__nav-link::before {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media (hover: none) {

  .header__nav-item.default-dropdown .header__nav-links-item.is-active .header__nav-sublinks,
  .header__nav-item.is-active .header__nav-dropdown {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }

  .header__nav-item.is-active .header__nav-link::before {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }

  .header__nav-item.default-dropdown .header__nav-links-item.is-active > .header__nav-dropdown-link {
    color: var(--color-body-text);
  }
}

@media screen and (min-width: 1100px) {
  .header__nav-dropdown {
    padding: 4.4rem 4.8rem;
  }

  .header__nav-item + .header__nav-item {
    margin-left: 2rem;
  }

  .header__nav-grid {
    column-gap: 3.2rem;
  }

  .header__nav-grid--5 {
    column-gap: 1.6rem;
  }

  .header__nav-links {
    column-gap: 2.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav-item + .header__nav-item {
    margin-left: 2.4rem;
  }

  .header__nav-grid--5 {
    column-gap: 2.3rem;
  }
}

/* Drawer */

html.no-js .header__drawer > .drawer__container[open] {
  color: var(--color-link-text);
}

html .header__drawer > .drawer__container > .drawer__button {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  appearance: none;
}

.header__drawer > .drawer__container > .drawer__button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform var(--duration-default);
}

html.no-js .header__drawer > .drawer__container[open],
html.js .header__drawer > .drawer__container[open] > .drawer__content {
  top: calc(var(--header-height, 7.4rem) + var(--announcement-bar-top, 3.5rem));
}

@media screen and (max-width: 989px) {

  html.no-js .header__drawer > .drawer__container[open],
  html.js .header__drawer > .drawer__container[open] > .drawer__content {
    padding: 3.2rem var(--page-gutter);
    width: 100%;
    max-width: unset;
    top: calc(var(--header-height, 5.6rem) + var(--announcement-bar-top, 2.7rem));
  }

  html.no-js .header__drawer > .drawer__container[open] {
    top: 0;
    padding-top: var(--header-vertical-padding);
  }

  html.no-js .header__drawer .drawer__container[open] > .drawer__button::after {
    opacity: 1;
  }

  .header__drawer > .drawer__container > .drawer__button::after {
    display: none;
  }

  html.no-js .header__drawer > .drawer__container > .drawer__button noscript {
    display: none;
  }

  .header__drawer > .drawer__container > .drawer__button svg:nth-child(2) {
    transform: scale(0) rotate(45deg);
  }

  .header__drawer > .drawer__container.menu-opening > .drawer__button > svg:nth-child(1) {
    transform: scale(0) rotate(45deg);
  }

  .header__drawer > .drawer__container.menu-opening > .drawer__button > svg:nth-child(2) {
    transform: scale(1) rotate(0);
  }

  html.no-js .header__drawer > [open] > .drawer__button > svg:nth-child(1) {
    display: block;
    transform: scale(0) rotate(45deg);
  }

  html.no-js .header__drawer > [open] > .drawer__button > svg:nth-child(2) {
    display: block;
    transform: scale(1) rotate(0);
  }

  html.js .header__drawer > .drawer__container > .drawer__content {
    opacity: 0;
    transform: none;
  }

  html.js .header__drawer > .drawer__container.menu-opening > .drawer__content {
    opacity: 1;
  }
}

@media screen and (min-width: 990px) {

  html.no-js .header__drawer > .drawer__container[open],
  html.js .header__drawer > .drawer__container[open] > .drawer__content {
    padding: 2.4rem 4.8rem 3.1rem;
    width: calc(100% - 5rem);
    max-width: 60rem;
    top: 0;
  }

  .header-drawer__button-close {
    margin-bottom: 3.2rem;
  }

  .header__drawer > .drawer__container > .drawer__button svg:nth-child(2) {
    display: none;
  }

  html.no-js .header__drawer > .drawer__container[open] > .drawer__button {
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    appearance: none;
  }
}

.cart-count-badge {
  font-size: var(--font-size-static-extra-small);
  line-height: 1;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  z-index: 1;
}
